# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Assets/AssetStoreTools*

# Visual Studio / Rider
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# C#
*.bak
*.cache
*.ilk
*.ncb
*.sdf
*.suo
*.user
*.userosscache
*.dll
*.exe
*.pdb
*.idb
*.ipch
*.log
*.tlog
*.dbmdl
*.jfm
*.obj
*.pch
*.res
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.bak

# C++
*.o
*.d
*.obj
*.so
*.a
*.dll
*.lib
*.exe
*.app
*.dylib
*.bc
*.ilk
*.pdb
*.idb
*.ipch
*.class

# JavaScript / Node
node_modules/
npm-debug.log
yarn-error.log